  <div class="form-inputs">
    <%= simple_form_for @dragon do |f| %>
    <%= f.input :name, autofocus: true %>
    <%= f.input :address %>
    <%= f.input :size, collection: 0..4, wrapper_html: { class: 'dragon-new-select' } %>
    <%= f.input :temperament, collection: 0..4, wrapper_html: { class: 'dragon-new-select' } %>
    <%= f.input :fire, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :color %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo_first %>
    <%= f.input :photo_first_cache, as: :hidden %>
    <%= f.input :photo_second %>
    <%= f.input :photo_second_cache, as: :hidden %>
    <%= f.input :photo_third %>
    <%= f.input :photo_third_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>

  <% end %>
