<div class="card-dragon-whole-white">
  <h2 class="card-dragon-name_odd">
    <%= dragon.name %>
  </h2>
  <p class="card-dragon-description"><%= dragon.description.truncate_words(20) %></p>
  <ul class="card-dragon-attributes">
    <li>
      <%= dragon.describe_temperament %>
    </li>
    <li>
      <%= dragon.describe_size %>
    </li>
  </ul>
  <h4 class="card-dragon-price">
    <%= "#{dragon.price} €/day"%>
  </h4>
  <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
</div>
