<div class="content">
<!-- Changes the title of the page according to the results (with location name, or empty) -->
<% if @query.present? && !@dragons.empty? %>
  <h2 class="dragon-index-title"> <%="Dragons in \"#{@query.capitalize}\""%> </h2>
  <% elsif @dragons.empty? %>
  <div class="empty-search-results col-xs-12 col-md-4 col-md-offset-4">
    <h2 class="dragon-index-title">No dragons here!</h2>
    <%= image_tag "search.jpg" %>
  </div>
<% end %>

<!-- Displays all the dragons in cards -->
<div class="cover-all-container">
  <div class="card-dragon-container">
    <% count = 0 %>
    <% @dragons.each do |dragon| %>
      <% if count.odd? %>
        <div class="card-dragon-whole-white_odd">
          <div class="card-dragon-info-all">
            <div>
              <h3 class="card-dragon-name_odd">
                <%= dragon.name %></h3>
                <% if dragon.owner == current_user %>
                      <p class="disclaimer-ownership"><i class="fas fa-bookmark"></i></p>
                <% end %>
              <p class="card-dragon-description">
                <%= dragon.description.truncate_words(20) %></p>
            </div>
            <ul class="card-dragon-attributes">
              <li>
                <i class="fas fa-exclamation-circle"></i>
                <%= dragon.describe_temperament %>
              </li>
              <li>
                <i class="fas fa-fire"></i>
                <% if dragon.fire == true %>
                  Pyromaniac
                <% else %>
                  No fire
                <% end %>
              </li>
              <li>
                <i class="fab fa-wolf-pack-battalion"></i>
                <%= dragon.describe_size %>
              </li>
            </ul>
            <h4 class="card-dragon-price-index">
              <%= "#{dragon.price} €/day"%>
            </h4>
            <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
          </div>
        </div>
      <% end %>

      <div class="card-dragon-whole">
        <div class="card-dragon" style="background-image: url(<%= dragon.photo_first_url %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
          <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
        </div>
      </div>

      <% if count.even? %>
        <div class="card-dragon-whole-white_even">
          <div class="card-dragon-info-all">
            <div>

              <h3 class="card-dragon-name_even">
                <%= dragon.name %></h3>
                <% if dragon.owner == current_user %>
                      <p class="disclaimer-ownership"> Your Dragon</p>
                <% end %>
              <p class="card-dragon-description"><%= dragon.description.truncate_words(20) %></p>
            </div>
            <ul class="card-dragon-attributes">
              <li>
                <i class="fas fa-exclamation-circle"></i>
                <%= dragon.describe_temperament %>
              </li>
              <li>
                <i class="fas fa-fire"></i>
                <% if dragon.fire == true %>
                  Pyromaniac
                <% else %>
                  No fire
                <% end %>
              </li>
              <li>
                <i class="fab fa-wolf-pack-battalion"></i>
                <%= dragon.describe_size %>
              </li>
            </ul>
            <h4 class="card-dragon-price-index">
              <%= "#{dragon.price} €/day"%>
            </h4>
            <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
          </div>
        </div>
      <% end %>
      <% count += 1 %>
    <% end %>
  </div>

  <% if @dragons.present? %>
    <div class="map-dragon", id="map"
    style="width: 100%",
    data-markers="<%= @markers.to_json %>"
    data-info= "<%= @info.to_json %>">
    </div>
  <% end %>

</div>

</div>



