<!-- Changes the title of the page according to the results (with location name, or empty) -->
<% if @query.present? && !@dragons.empty? %>
<h2><%= "Dragons in #{@query.capitalize}" %></h2>
<% elsif @dragons.empty? %>
<div class="empty-search-results col-xs-12 col-md-4 col-md-offset-4">
  <h2>No dragons here!</h2>
  <%= image_tag "search.jpg" %>
</div>
<% else %>

<% end %>

<!-- Displays all the dragons in cards -->
<div class="cover-all-container">
<<<<<<< HEAD

<div class="card-dragon-container">
    <h3 class="dragons-title-index"> Dragons for rent </h3>
  <% @dragons.each do |dragon| %>
  <% if dragon.id.odd? %>
  <div class="card-dragon-whole-white_odd">
    <h2 class="card-dragon-name_odd">
      <%= dragon.name %>
    </h2>
    <ul class="card-dragon-attributes">
      <li>
        <%= dragon.describe_temperament %>
      </li>
      <li>
        <%= dragon.describe_size %>
      </li>
    </ul>
    <h4 class="card-dragon-price">
      <%= "#{dragon.price} $/day"%>
    </h4>
    <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
  </div>
  <% end %>

  <div class="card-dragon-whole">
    <div class="card-dragon" style="background-image: url(<%= dragon.photo_url %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
=======
  <div class="card-dragon-container">
    <% @dragons.each do |dragon| %>
    <% if dragon.id.odd? %>
    <div class="card-dragon-whole-white_odd">
      <h2 class="card-dragon-name_odd">
        <%= dragon.name %>
      </h2>
      <p class="card-dragon-description"><%= dragon.description.truncate_words(20) %></p>
      <ul class="card-dragon-attributes">
        <li>
          <%= dragon.describe_temperament %>
        </li>
        <li>
          <%= dragon.describe_size %>
        </li>
      </ul>
      <h4 class="card-dragon-price">
        <%= "#{dragon.price} €/day"%>
      </h4>
>>>>>>> master
      <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
    </div>
    <% end %>

    <div class="card-dragon-whole">
      <div class="card-dragon" style="background-image: url(<%= dragon.photo_url %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
        <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
      </div>
    </div>

    <% if dragon.id.even? %>
    <div class="card-dragon-whole-white_even">
      <h2 class="card-dragon-name_even">
        <%= dragon.name %>
      </h2>
      <p class="card-dragon-description"><%= dragon.description.truncate_words(20) %></p>
      <ul class="card-dragon-attributes">
        <li>
          <%= dragon.describe_temperament %>
        </li>
        <li>
          <%= dragon.describe_size %>
        </li>
      </ul>
      <h4 class="card-dragon-price">
        <%= "#{dragon.price} €/day"%>
      </h4>
      <%= link_to "", dragon_path(dragon), class: "card-dragon-link" %>
    </div>
    <% end %>
    <% end %>
  </div>
  <% if !@dragons.empty? %>
    <div class="map-dragon">
    <%= image_tag 'grey.jpg' %>
    </div>
  <% end %>
<<<<<<< HEAD
  <% end %>
</div>
<div class="map-dragon", id="map"
  style="width: 100%",
  data-markers="<%= @markers.to_json %>">
  <%= image_tag 'grey.jpg' %>
</div>
=======
>>>>>>> master

</div>





