<%= render 'banner_dragon' %>

<div class="dragon-show-wrapper">
  <div class="container">
    <div class="row">

      <div class="dragon-show-info-card col-xs-12 col-md-8">
        <div class="dragon-name-user-profile">
          <h3><%= @dragon.name %></h3>
          <%= cl_image_tag @dragon.owner.photo_url, class: 'avatar' %>
          <p> Owner: <%= @dragon.owner.name %></p>
        </div>
        <p> In: <%= @dragon.address %> </p>
        <ul class="dragon-attributes">
          <li class="dragon-bullet-attributes">
            <i class="fas fa-exclamation-circle"></i>
            <%= @dragon.describe_temperament %></li>
          <li class="dragon-bullet-attributes">
            <i class="fas fa-fire"></i>
            <%= @dragon.fire %>
          <li>Size: <%= @dragon.describe_size %></li>
        </ul>
        <p><%= @dragon.description %></p>
      </div>

      <div class="booking-box col-xs-12 col-md-4">
        <% if current_user && @dragon.booked_by?(current_user) %>
          <div class="dragon-show-confirmation">
            <i class="fas fa-check-circle"></i>
          </div>
          You already have a booking for <%= @dragon.name %>
          for <%=@booking.total_duration%> days
          starting on <%= @booking.start_date %>
          <div>
            <%= link_to "Manage my bookings", profile_path(current_user) %>
          </div>
        <% else %>
          <div class="booking-price-box">
          <span class="booking-price"> <%= @dragon.price %> </span>
          <span class="booking-per-night">€ per day</span>
          </div>
          <%= simple_form_for [@dragon, @booking] do |f| %>
          <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Book #{@dragon.name}", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
