<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Your booking for <%= @booking.dragon.name %></h2>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3>From: <%= @booking.start_date %></h3>
    <h3>To: <%= @booking.end_date %></h3>
    <h3>In <%= @booking.dragon.location %></h3>
    <h3>Status: <%= @booking.status %></h3>
    <%= link_to "Edit booking", "#", class: "btn" %>
    <%= link_to "Cancel booking", "#", class: "btn" %>
    </div>
  </div>
</div>

