<div class="navbar-wagon">
  <!-- Logo -->
  <div id="navbar-first-group">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>

    <!--   Search bar -->
    <% if params[:controller] != "pages" %>
      <div class="input-group nav-search-bar">
        <%= form_tag dragons_path, method: :get, class: "form-control input-search-group" do %>
          <%= text_field_tag :address, params[:address], class: "input-search form-control input-search-navbar", placeholder: "Type a location.."%>
          <span class="input-group-btn">
            <%= submit_tag "Search" , class: "btn", id: "nav-search-button" %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Dragons", dragons_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <% if current_user %>
                <%= link_to profile_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "My profile") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Edit profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <% if current_user %>
          <%= link_to 'My profile', profile_path(current_user) %></a>
          <% end %>
        </li>
        <li><%= link_to 'Dragons', dragons_path %></li>
      </ul>
    </div>
  </div>
</div>

