<% if !@requests_received.nil? %>
  <ul class="inbox" style="overflow-y:scroll;">
    <% @requests_received.each do |request| %>
      <li class="message">
        <div class="message-content">
          <%= cl_image_tag request.user.photo.url, class: 'avatar-bordered' %>
          <div class="message-name">
            <p>Sent by: <strong><%= request.user.name %></strong></p>
            <p>To: <strong>You</strong></p>
          </div>
          <div class="message-body">
            <p><strong>Dragon requested: <%= request.dragon.name %></strong></p>
            <p>
              from <%= request.start_date %> until <%= request.end_date %>
            </p>
          </div>
          <div class="message-status">
            <i class="fas fa-circle" style="color: <%= request.status_color %>;"> </i>
            <p class="price"><%= request.total_price %>€</p>
          </div>
        </div>
        <% if request.status == 0 %>
          <div class="message-buttons">
            <%= link_to 'Accept request', booking_confirm_booking_path(request), method: :confirm_booking, :data => {:confirm=>"You accepted to rent #{request.dragon.name} from #{request.start_date} until #{request.end_date}"}, class: 'btn' %>
            <%= link_to 'Decline request', booking_refuse_booking_path(request), method: :refuse_booking, :data => {:confirm=>"You refused to rent #{request.dragon.name} from #{request.start_date} until #{request.end_date}"},class: 'btn' %>
          </div>
        <% end %>
      </li>
   <% end %>
  </ul>
<% else %>
  <p>You don't have any received request</p>
<% end %>
