<!-- NOTE: this page is diplayed as a grid -->
<div class="container">
  <h1>My profile</h1>

  <div class="grid">
    <div class="user-info">
      <h2>My personal info</h2>
      <!-- USER AVATAR -->
      <%= cl_image_tag @user.photo, class: 'avatar-large' %>

      <!-- USER INFO -->
      <p>user name: <%= @user.name %></p>
      <p>user email: <%= @user.email %></p>

      <%= link_to 'Edit my profile', edit_user_registration_path  %>
    </div>

    <div class="user-message">
      <h2>My messages</h2>
      <% if !@bookings.empty? %>

        <ul class="inbox">
          <% @bookings.each do |booking| %>
          <li class="message">
            <%= cl_image_tag booking.user.photo, class: 'avatar-bordered' %>
            <div class="message-name">
              <h3><%= booking.user.name %></h3>
              <p><%= booking.dragon.name %></p>
              <p>from <%= booking.start_date %> until <%= booking.end_date %></p>
            </div>
            <div class="message-body">
              <p><strong>I wanna rent your dragon!</strong></p>
              <p>
                Your dragon is sooooo cooooool, please let me rent it !!!!
              </p>
            </div>
            <div class="message-status">
              <p><%= booking.status %></p>
              <% number_days = (booking.end_date - booking.start_date).to_i %>
              <p class="price"><%= number_days * booking.dragon.price %></p>
            </div>
          </li>
          <% end %>
        </ul>
      <% else %>
        <p>You don't have any booking request</p>
      <% end %>
    </div>

    <div class="user-owned-dragons">
      <h2>My dragons</h2>
      <% if @owned_dragons %>

      <div class="row">
        <% @owned_dragons.each do |dragon| %>
        <div class="col-xs-12 col-md-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
            <h2 class="card-dragon-name">
              <%= dragon.name %>
            </h2>
            <ul class="card-dragon-attributes">
              <li>
                <%= dragon.describe_temperament %>
              </li>
              <li>
                <%= dragon.describe_size %>
              </li>
            </ul>
            <h4 class="card-dragon-price">
              <%= "#{dragon.price} $/night"%>
            </h4>
            <%= link_to "", "#", class: "card-dragon-link" %>
          </div>
        </div>
        <% end %>
      </div>

      <% else %>
      <p>You don't have any dragons</p>
      <% end %>
    </div>

    <div class="user-bookings">
      <h2>My bookings</h2>

      <% if !@bookings.empty? %>

      <div class="row">
        <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-md-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
            <h2 class="card-dragon-name">
              <%= booking.dragon.name %>
            </h2>
            <ul class="card-dragon-attributes">
              <li>
                <%= booking.dragon.describe_temperament %>
              </li>
              <li>
                <%= booking.dragon.describe_size %>
              </li>
            </ul>
            <h4 class="card-dragon-price">
              <%= "#{booking.dragon.price} $/night"%>
            </h4>
            <%= link_to "", "#", class: "card-dragon-link" %>
          </div>
        </div>
        <% end %>
      </div>

      <% else %>
      <p>You don't have any booking</p>
      <% end %>
    </div>
  </div>
</div>
